h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	background-color: white;
}

#landing-title {
	margin: 50px;
	font-size: 60px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 17px;
}

p {
	font-size: 18px;
    font-weight: lighter;
}

.parallax{ 
    /* The image used */
    background-image: url("../images/banner2.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

#banner-container {
	padding: 0px;
}

.body-section {
	background-color: #F6F6F6;
}

#LnLink {
	margin-top: 6px;
}

.card {
	text-align: center;
}

.card-image {
	width: 100%;
}

.nav-text
{
	padding-left: 15px;
	padding-right: 15px;
}

.div_highlight
{
	background-color: #9a9fa5;
}

#playspaceVideo
{
	padding:50px;
}

.padded-text {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #F6F6F6;
}

#div-video-embedded {
	max-width: 912px;
	margin: auto;
}

.container-fluid {
	padding: 0px;
}

.full-size-image
{
	max-width:100%;


}

.custom-div {
	
}


@media(max-width: 991px) {
	.main-navbar {
		padding-bottom: 48px;
	}

	.right-navbar {
		display: none;
	}
}